@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-wrapper,
body,
html {
  min-width: 100%;
  font-family: "Montserrat", sans-serif;
}

header {
  width: 100%;
  height: 80vh;
  position: relative;
  background: url("../img/banner-bg.jpg");
  background-size: cover;
  background-position: center;
}

.mobile-toggler {
  cursor: pointer;
  font-size: 1.5em;
  color: #46bae2;
  display: none;
}

nav {
  z-index: 999;
  display: flex;
  max-width: 1200px;
  width: 100%;
  justify-content: flex-end;
  align-self: center;
  margin-top: 50px;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  background: #fff;
  height: 79px;
}

.nav-scroll {
  animation: slideUp 0.1s linear forwards;
}

@keyframes slideUp {
  from {
    margin-top: 50px;
  }

  to {
    margin-top: 0px;
  }
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
  color: #acacac;
  transition: 0.3s linear;
}

.nav-logo {
  position: absolute;
  display: block;
  left: 30px;
  top: 40px;
  transform: translateY(-50%);
  text-transform: uppercase;
  cursor: pointer;
}

.nav-logo h2 {
  font-size: 2em;
  color: #46bae2;
  font-weight: bolder;
}

nav ul {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

nav ul li a {
  padding: 30px 20px;
}

nav ul li:hover a,
a.active,
:focus {
  background: #f2745f;
  color: #fff;
}

.landing-container {
  margin-top: 50px;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.landing-content h3 {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.landing-content h1 {
  font-weight: bolder;
  font-size: 4.7em;
  text-transform: uppercase;
  color: #fff;
}

.landing-btn button {
  padding: 15px;
  margin: 30px 10px;
  border: 0;
  cursor: pointer;
}

.landing-btn #btn-1 {
  background: #46bae2;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

.landing-btn #btn-2 {
  background: #f2745f;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

.intro {
  text-align: center;
  padding: 80px 0px;
  width: 100%;
  background: #46bae2;
}

h1.intro-header {
  color: #fff;
  font-size: 2.5em;
  font-weight: 500;
  margin-bottom: 10px;
}

.intro p {
  color: #fff;
  font-weight: 800;
  word-spacing: 5px;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.intro button {
  margin-top: 15px;
  padding: 15px 20px;
  border: 1px solid #fff;
  cursor: pointer;
  background: transparent;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

.services-banner {
  z-index: -1;
  top: 0;
  position: sticky;
  width: 100%;
  height: auto;
  background: url("../img/services-bg.jpg");
  background-size: cover;
}

section.container-fluid {
  position: relative;
  z-index: -2;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.services-item {
  max-width: 33.33%;
  padding: 120px 45px;
  text-align: center;
  color: #fff;
}

.service-item-icon {
  margin-bottom: 40px;
}

.services-item h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.services-item p {
  line-height: 30px;
}

.services-item:nth-child(1) {
  background: rgba(242, 116, 95, 0.7);
}

.services-item:nth-child(2) {
  background: rgba(0, 0, 0, 0.7);
}

.services-item:nth-child(3) {
  background: rgba(70, 186, 226, 0.7);
}

section.second-services-tabs {
  z-index: 1;
  background: #fff;
  width: 100%;
  position: sticky;
  padding-bottom: 80px;
  top: -36%;
}

.second-section-fluid-container {
  margin: auto;
  max-width: 1100px;
}
.second-intro-desc {
  max-width: 600px;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 80px 0px;
}

.second-intro-desc h1 {
  font-size: 2em;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.second-intro-desc p {
  font-weight: 300;
  line-height: 25px;
}

.services-list-item-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.tab-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f4f4f4;
  text-align: center;
  min-width: 19%;
  height: 200px;
  transition: 0.3s linear;
  cursor: pointer;
  margin-bottom: 80px;
}

.second-services-icon {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;

  border-radius: 50%;
  transition: 0.3s linear;
}

.second-services-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tab-box h4 {
  margin-top: 20px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}

.second-services-icon {
  background: #fff;
}

.tab-box:hover,
:focus h4 {
  color: #fff;
}

.tab-box:hover,
:focus {
  background: rgba(242, 116, 95, 1);
}

.second-row-container {
  width: 100%;
  overflow: hidden;
  z-index: 900;
  position: relative;
  background: #fff;
}

#content-1,
#content-2,
#content-3,
#content-4,
#content-5 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#content-2,
#content-3,
#content-4,
#content-5 {
  display: none;
}

.second-row-content {
  max-width: 48%;
  text-align: left;
  margin-right: auto;
}

.second-row-content p {
  margin: 20px auto;
  font-weight: 300;
}

.second-row-img {
  justify-content: flex-end;
  max-width: 48%;
}

.second-row-btn {
  padding: 15px;
  margin: 10px auto;
  border: 0;
  cursor: pointer;
  background: rgba(70, 186, 226, 1);
  color: #fff;
  text-transform: uppercase;
}

.portfolio-container {
  position: relative;
  z-index: 888;
  background: #363e50;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 80px;
}

.portfolio-inner {
  padding: 0px 0px 40px;
}

.portfolio-inner h1,
.portfolio-inner p {
  max-width: 600px;
  padding: 10px 0px;
}

.portfolio-inner h1 {
  margin-top: 60px;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
}

.portfolio-inner p {
  color: rgb(192, 192, 192);
  font-weight: 300;
  line-height: 25px;
}

.slidershow {
  overflow: hidden;
  width: 90%;
}

.navigation {
  display: flex;
  justify-content: center;
}

.bar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid#fff;
  cursor: pointer;
  transition: 0.4s;
  margin: 20px 5px;
}

.bar:hover {
  background: #fff;
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 100%;
  height: 100%;
  display: flex;
}

.slide {
  width: 20%;
  transition: 0.6s;
}

.slide img {
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1 {
  margin-left: 0;
}

#r2:checked ~ .s1 {
  margin-left: -20%;
}

#r3:checked ~ .s1 {
  margin-left: -40%;
}

#r4:checked ~ .s1 {
  margin-left: -60%;
}

#r5:checked ~ .s1 {
  margin-left: -80%;
}

.blog-wrapper {
  width: 100%;
  z-index: 800;
  background: #fff;
  overflow: hidden;
  position: relative;
}

.blog-inner {
  max-width: 1100px;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.blog-identifier {
  margin-right: 100vw;
  min-width: 50%;
  padding-right: 50px;
}

.blog-identifier i {
  padding-right: 5px;
}

.blog-right-img img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.blog-right-img {
  max-width: 1200px;
}

.blog-links {
  margin: -30px 30px 0px;
  min-width: 50%;
}

ul.blog-tabs {
  max-width: 100%;
}

ul.blog-tabs a {
  display: inline-block;
  margin: auto;
  padding: 24px 26px;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
}

ul.blog-tabs a:hover,
a:focus {
  background: #f2745f;
}

ul.info-post {
  width: 100%;
  padding: 20px 0px;
}

ul.info-post li {
  display: inline-flex;
  padding: 0px 10px;
  width: auto;
  color: rgb(0, 0, 0);
  text-transform: none;
}

.blog-tabs li.blog-list-block {
  margin: 30px 0px;
  box-shadow: 0px 0px 10px #cdcdcd;
}

li.blog-list-block i {
  padding-right: 5px;
}

.blog-text-content {
  margin: auto;
  padding: 20px;
  max-width: 95%;
  position: relative;
  top: -50px;
  background: #fff;
  box-shadow: 0px 0px 10px #cdcdcd;
}

.blog-text-content h1 {
  text-align: center;
  text-transform: uppercase;
}

.blog-text-content ul {
  display: flex;
  text-align: center;
  position: relative;
}

.blog-text-content ul li {
  padding: 20px 0px;
  display: block;
  margin: 0 auto;
}

.blog-text-content p {
  line-height: 30px;
  color: #7a7a7a;
}

button.blog-button {
  padding: 15px;
  margin: 20px 0px;
  border: 0;
  cursor: pointer;
  background: #46bae2;
  color: #fff;
  text-transform: uppercase;
}

img {
  overflow: hidden;
}

section.contact {
  width: 100%;
  overflow: hidden;
  z-index: 9999;
  position: relative;
  background: #fff;
}

.contact-inner {
  display: block;
  max-width: 1100px;
  margin: 0 auto;
}

.contact-inner h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  font-weight: 400;
  padding: 80px 0px 20px;
}

.contact-inner p {
  max-width: 600px;
  text-align: center;
  margin: 30px auto 0px;
  margin-bottom: 80px;
}

.form-wrapper {
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.form-wrapper form {
  max-width: 50%;
}
.form-wrapper label {
  display: none;
}

.form-wrapper input,
focus {
  padding: 20px 50px;
  border: none;
  outline: none;
  color: #ababab;
  background: none;
  font-size: 14px;
}
.form-wrapper textarea {
  width: 300px;
  height: 100px;
  margin-top: 30px;
  margin-left: 50px;
  display: block;
  border: none;
  outline: none;
  color: #363e50;
  background: none;
}

.form-wrapper textarea::placeholder {
  font-family: "Montserrat", sans-serif;
}

button.form-btn {
  padding: 15px;
  margin-left: 50px;
  margin-bottom: 20px;
  border: 0;
  cursor: pointer;
  background: #46bae2;
  color: #fff;
  text-transform: uppercase;
}

.mapouter,
iframe {
  width: 500px;
  height: 280px;
}
.maprouter a {
  display: none;
}

footer {
  width: 100%;
  height: 200px;
  position: relative;
  background: #363e50;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

.icon-buttons {
  position: relative;
  z-index: 2;
}

.icon-buttons a {
  display: inline-flex;
  width: 80px;
  height: 80px;
  font-size: 26px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  margin: 0 10px;
  position: relative;
  transition: 0.3s ease-in;
  z-index: 2;
}

.footer2 a,
i {
  overflow: hidden;
}

.icon-buttons a::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  z-index: -10;
  transition: 0.3s ease-in;
}

.icon-buttons a i {
  transition: 0.3s ease-in;
  color: #fff;
}

.footer2 a:hover i {
  transform: rotateZ(720deg);
  font-size: 46px;
  color: #46bae2;
}

.footer2 a:hover::before {
  transform: scale(0);
}

button.footer-btn {
  height: 180px;
  width: 150px;
  padding: 20px;
  position: relative;
  margin-top: -20px;
  cursor: pointer;
  background: #46bae2;
  color: #fff;
  border: none;
  font-size: 1em;
  text-transform: uppercase;
}

button.footer-btn i {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.3em;
}

footer p {
  color: #fff;
  padding: 5px;
}

/* Media Queries */

@media only screen and (max-width: 900px) {
  nav ul li:hover a,
  a.active,
  :focus {
    background: none;
    color: #fff;
  }

  nav ul li {
    width: 100%;
    display: block;
  }

  nav ul li:hover {
    background: #f2745f;
  }

  nav ul li a {
    min-width: 100%;
    height: auto;
    display: none;
    text-align: center;
  }

  nav ul li a:hover {
    background: none;
  }

  nav ul {
    text-align: center;
    min-width: 100%;
    justify-content: center;
    flex-flow: column nowrap;
    margin-top: 80px;
  }

  nav {
    margin-top: 0px;
    max-width: 90%;
    width: 100%;
    height: auto;
    overflow: visible;
    justify-content: center;
  }

  nav .mobile-toggler {
    display: block;
    position: absolute;
    margin: 15px 20px;
    height: 50px;
    width: 50px;
    right: 20px;
    background: #f2745f;
    color: #fff;
    text-align: center;
    border-radius: 10px;
  }

  nav .mobile-toggler i {
    line-height: 50px;
  }

  .nav-logo {
    display: block;
  }

  .services-banner {
    top: -100%;
  }

  section.container-fluid {
    flex-flow: column wrap;
  }

  .services-item {
    max-width: 100%;
  }

  .tab-box {
    flex-flow: column wrap;
    min-width: 100%;
    margin-bottom: 5px;
  }

  section.second-services-tabs {
    width: 100%;
    top: -150%;
  }

  .second-row-content {
    max-width: 90%;
    margin: 40px auto;
  }

  .second-row-img {
    max-width: 90%;
  }

  .second-row-img img {
    max-width: 100%;
  }

  .landing-btn {
    max-width: 500px;
  }

  .blog-inner {
    flex-flow: column;
  }

  .blog-identifier {
    max-width: 90%;
    margin: auto;
    padding: 0;
  }

  footer {
    flex-flow: column;
    height: auto;
  }

  section.footer1 {
    max-width: 100%;
  }

  section.footer2 {
    max-width: 100%;
  }

  section.footer3 {
    min-width: 90%;
    align-items: flex-end;
  }

  button.footer-btn {
    margin: 0;
    min-width: 100%;
  }
}
